In [2]:
import numpy as np
import pandas as pd
import csv
import json
import os

In [ ]:
dataPath0 = "data"
dataPath1 = "2014-103年地方公職人員選舉"
dataPath2 = "直轄市市長"

In [ ]:
## elbase.csv

- 省/直轄市編號：例如 `63` 是台北市， `10`是「台灣省」
- 縣編號：例如 `017`是基隆市。如果是直轄市則此欄為 `0`。
- 區編號：僅適用於直轄市
- 鄉鎮市區編號：無論是省轄縣市與否都會有一個編號
- 村里編號
- 候選人號次
- 候選人姓名
- 候選人推薦政黨
- 候選人性別
- 候選人民國出生日期（yyymmdd）
- 候選人年齡
- 候選人出生地
- 候選人最高學歷
- 現任與否
- 當選與否

In [13]:
dataFilename = "elbase.csv"

dataPath = os.path.join(dataPath0, dataPath1, dataPath2, dataFilename)
print(dataPath)
df_li = pd.read_csv(dataPath, names=["province", "county", "district", "city", "li", "name"])
df_li

data/2014-103年地方公職人員選舉/直轄市市長/elbase.csv

     province county district  city     li name
0         '00   '000      '00  '000  '0000   全國
1         '63   '000      '00  '000  '0000  臺北市
2         '63   '000      '00  '120  '0000  北投區
3         '63   '000      '00  '120  '0001  建民里
4         '63   '000      '00  '120  '0002  文林里
5         '63   '000      '00  '120  '0003  石牌里
6         '63   '000      '00  '120  '0004  福興里
7         '63   '000      '00  '120  '0005  榮光里
8         '63   '000      '00  '120  '0006  榮華里
9         '63   '000      '00  '120  '0007  裕民里
10        '63   '000      '00  '120  '0008  振華里
11        '63   '000      '00  '120  '0009  永和里
12        '63   '000      '00  '120  '0010  永欣里
13        '63   '000      '00  '120  '0011  永明里
14        '63   '000      '00  '120  '0012  東華里
15        '63   '000      '00  '120  '0013  吉利里
16        '63   '000      '00  '120  '0014  吉慶里
17        '63   '000      '00  '120  '0015  尊賢里
18        '63   '000      '00  '120  '0016  立賢里
19        '63   '000      '00  '120  '0017  立農里
20        '63   '000      '00  '120  '0018  八仙里
21        '63   '000      '00  '120  '0019  洲美里
22        '63   '000      '00  '120  '0020  奇岩里
23        '63   '000      '00  '120  '0021  清江里
24        '63   '000      '00  '120  '0022  中央里
25        '63   '000      '00  '120  '0023  長安里
26        '63   '000      '00  '120  '0024  大同里
27        '63   '000      '00  '120  '0025  溫泉里
28        '63   '000      '00  '120  '0026  林泉里
29        '63   '000      '00  '120  '0027  中心里
...       ...    ...      ...   ...    ...  ...
4387      '64   '000      '00  '140  '0021  溪寮里
4388      '64   '000      '00  '140  '0022  江山里
4389      '64   '000      '00  '140  '0023  昭明里
4390      '64   '000      '00  '140  '0024  光武里
4391      '64   '000      '00  '140  '0025  中興里
4392      '64   '000      '00  '130  '0000  林園區
4393      '64   '000      '00  '130  '0001  東林里
4394      '64   '000      '00  '130  '0002  林園里
4395      '64   '000      '00  '130  '0003  溪州里
4396      '64   '000      '00  '130  '0004  潭頭里
4397      '64   '000      '00  '130  '0005  中厝里
4398      '64   '000      '00  '130  '0006  中門里
4399      '64   '000      '00  '130  '0007  頂厝里
4400      '64   '000      '00  '130  '0008  港埔里
4401      '64   '000      '00  '130  '0009  西溪里
4402      '64   '000      '00  '130  '0010  港嘴里
4403      '64   '000      '00  '130  '0011  北汕里
4404      '64   '000      '00  '130  '0012  林內里
4405      '64   '000      '00  '130  '0013  王公里
4406      '64   '000      '00  '130  '0014  林家里
4407      '64   '000      '00  '130  '0015  龔厝里
4408      '64   '000      '00  '130  '0016  鳳芸里
4409      '64   '000      '00  '130  '0017  中芸里
4410      '64   '000      '00  '130  '0018  東汕里
4411      '64   '000      '00  '130  '0019  西汕里
4412      '64   '000      '00  '130  '0020  仁愛里
4413      '64   '000      '00  '130  '0021  文賢里
4414      '64   '000      '00  '130  '0022  廣應里
4415      '64   '000      '00  '130  '0023  五福里
4416      '64   '000      '00  '130  '0024  中汕里

[4417 rows x 6 columns]

## elcand.csv

- 省/直轄市編號：例如 `63` 是台北市， `10`是「台灣省」
- 縣編號：例如 `017`是基隆市。如果是直轄市則此欄為 `0`。
- 區編號：僅適用於直轄市
- 鄉鎮市區編號：無論是省轄縣市與否都會有一個編號
- 村里編號
- 候選人號次
- 候選人姓名
- 候選人推薦政黨
- 候選人性別
- 候選人民國出生日期（yyymmdd）
- 候選人年齡
- 候選人出生地
- 候選人最高學歷
- 現任與否
- 當選與否

In [16]:
dataFilename = "elcand.csv"

dataPath = os.path.join(dataPath0, dataPath1, dataPath2, dataFilename)
print(dataPath)
df_candidates = pd.read_csv(dataPath, names=["province", "county", "district", "city", "li", 
                                             "no", "name", "party", "sex", "dob", "age", "pob", 
                                             "education", "current?", "elected?"],
                            index_col=False)
df_candidates

data/2014-103年地方公職人員選舉/直轄市市長/elcand.csv

,province,county,district,city,li,no,name,party,sex,dob,age,pob,education,current?,elected?
0,'63,'000,'01,'000,'0000,1,陳汝斌,'210,'1,'0260902,77,台中市,高中,N,
1,'63,'000,'01,'000,'0000,2,趙衍慶,'999,'1,'0251007,78,其他,其他,N,
2,'63,'000,'01,'000,'0000,3,李宏信,'999,'1,'0291119,74,台北市,博士,N,
3,'63,'000,'01,'000,'0000,4,陳永昌,'999,'1,'0410503,62,臺灣省,其他,N,
4,'63,'000,'01,'000,'0000,5,馮光遠,'999,'1,'0420923,61,台北市,碩士,N,
5,'63,'000,'01,'000,'0000,6,連勝文,'1,'1,'0590203,44,台北市,博士,N,
6,'63,'000,'01,'000,'0000,7,柯文哲,'999,'1,'0480806,55,臺灣省,博士,N,*
7,'65,'000,'01,'000,'0000,1,游錫堃,'16,'1,'0370425,66,臺灣省,大學,N,
8,'65,'000,'01,'000,'0000,2,李進順,'999,'1,'0490415,54,新北市,專科,N,
9,'65,'000,'01,'000,'0000,3,朱立倫,'1,'1,'0500607,53,臺灣省,博士,Y,*
10,'68,'000,'01,'000,'0000,1,鄭文燦,'16,'1,'0560706,47,臺灣省,碩士,N,*
11,'68,'000,'01,'000,'0000,2,吳志揚,'1,'1,'0580208,45,臺灣省,碩士,N,
12,'68,'000,'01,'000,'0000,3,許睿智,'999,'1,'0270120,76,臺灣省,高中,N,
13,'66,'000,'01,'000,'0000,1,胡志強,'1,'1,'0370515,66,其他,博士,Y,
14,'66,'000,'01,'000,'0000,2,林佳龍,'16,'1,'0530213,50,台北市,博士,N,*
15,'67,'000,'01,'000,'0000,1,賴清德,'16,'1,'0481006,55,新北市,碩士,Y,*
16,'67,'000,'01,'000,'0000,2,黃秀霜,'1,'2,'0500220,53,臺灣省,博士,N,
17,'64,'000,'01,'000,'0000,1,周可盛,'999,'1,'0460804,57,高雄市,大學,N,
18,'64,'000,'01,'000,'0000,2,陳菊,'16,'2,'0390610,64,臺灣省,碩士,Y,*
19,'64,'000,'01,'000,'0000,3,楊秋興,'1,'1,'0450515,58,高雄市,碩士,N,

## elctks.csv

- 省/直轄市編號：例如 `63` 是台北市， `10`是「台灣省」
- 縣編號：例如 `017`是基隆市。如果是直轄市則此欄為 `0`。
- 區編號：僅適用於直轄市
- 鄉鎮市區編號：無論是省轄縣市與否都會有一個編號
- 村里編號
- 投開票所編號
- 候選人號次
- 候選人得票數
- 候選人得票率
- 當選與否

In [17]:
dataFilename = "elctks.csv"

dataPath = os.path.join(dataPath0, dataPath1, dataPath2, dataFilename)
print(dataPath)
df_results = pd.read_csv(dataPath, names=["province", "county", "district", "city", "li", 
                                             "site_no", "candidate_no", "counts", "percent", "elected?"],
                            index_col=False)
df_results

data/2014-103年地方公職人員選舉/直轄市市長/elctks.csv

,province,county,district,city,li,site_no,candidate_no,counts,percent,elected?
0,'63,'000,'01,'120,'0001,1,1,1,0.11,
1,'63,'000,'01,'120,'0001,1,2,12,1.34,
2,'63,'000,'01,'120,'0001,1,3,4,0.44,
3,'63,'000,'01,'120,'0001,1,4,1,0.11,
4,'63,'000,'01,'120,'0001,1,5,5,0.55,
5,'63,'000,'01,'120,'0001,1,6,323,36.08,
6,'63,'000,'01,'120,'0001,1,7,549,61.34,*
7,'63,'000,'01,'120,'0001,2,1,0,0.00,
8,'63,'000,'01,'120,'0001,2,2,7,0.75,
9,'63,'000,'01,'120,'0001,2,3,1,0.10,
10,'63,'000,'01,'120,'0001,2,4,2,0.21,
11,'63,'000,'01,'120,'0001,2,5,3,0.32,
12,'63,'000,'01,'120,'0001,2,6,316,34.05,
13,'63,'000,'01,'120,'0001,2,7,599,64.54,*
14,'63,'000,'01,'120,'0001,3,1,1,0.12,
15,'63,'000,'01,'120,'0001,3,2,9,1.15,
16,'63,'000,'01,'120,'0001,3,3,1,0.12,
17,'63,'000,'01,'120,'0001,3,4,2,0.25,
18,'63,'000,'01,'120,'0001,3,5,8,1.02,
19,'63,'000,'01,'120,'0001,3,6,245,31.53,
20,'63,'000,'01,'120,'0001,3,7,511,65.76,*
21,'63,'000,'01,'120,'0002,4,1,2,0.23,
22,'63,'000,'01,'120,'0002,4,2,4,0.47,
23,'63,'000,'01,'120,'0002,4,3,1,0.11,
24,'63,'000,'01,'120,'0002,4,4,1,0.11,
25,'63,'000,'01,'120,'0002,4,5,8,0.95,
26,'63,'000,'01,'120,'0002,4,6,262,31.37,
27,'63,'000,'01,'120,'0002,4,7,557,66.70,*
28,'63,'000,'01,'120,'0002,5,1,2,0.20,
29,'63,'000,'01,'120,'0002,5,2,9,0.94,
...,...,...,...,...,...,...,...,...,...,...
45936,'68,'000,'01,'100,'0000,0,3,1049,1.03,
45937,'68,'000,'01,'110,'0000,0,1,14810,53.63,*
45938,'68,'000,'01,'110,'0000,0,2,12469,45.15,
45939,'68,'000,'01,'110,'0000,0,3,332,1.20,
45940,'68,'000,'01,'120,'0000,0,1,18641,55.31,*
45941,'68,'000,'01,'120,'0000,0,2,14639,43.43,
45942,'68,'000,'01,'120,'0000,0,3,422,1.25,
45943,'68,'000,'01,'130,'0000,0,1,1702,27.21,*
45944,'68,'000,'01,'130,'0000,0,2,4485,71.70,
45945,'68,'000,'01,'130,'0000,0,3,68,1.08,
45946,'63,'000,'00,'000,'0000,0,1,1624,0.10,
45947,'63,'000,'00,'000,'0000,0,2,15898,1.06,
45948,'63,'000,'00,'000,'0000,0,3,2621,0.17,
45949,'63,'000,'00,'000,'0000,0,4,1908,0.12,
45950,'63,'000,'00,'000,'0000,0,5,8080,0.54,
45951,'63,'000,'00,'000,'0000,0,6,609932,40.82,
45952,'63,'000,'00,'000,'0000,0,7,853983,57.15,*
45953,'64,'000,'00,'000,'0000,0,1,14925,1.02,
45954,'64,'000,'00,'000,'0000,0,2,993300,68.08,*
45955,'64,'000,'00,'000,'0000,0,3,450647,30.89,
45956,'65,'000,'00,'000,'0000,0,1,934774,48.78,
45957,'65,'000,'00,'000,'0000,0,2,22207,1.15,
45958,'65,'000,'00,'000,'0000,0,3,959302,50.06,*
45959,'66,'000,'00,'000,'0000,0,1,637531,42.93,
45960,'66,'000,'00,'000,'0000,0,2,847284,57.06,*
45961,'67,'000,'00,'000,'0000,0,1,711557,72.89,*
45962,'67,'000,'00,'000,'0000,0,2,264536,27.10,
45963,'68,'000,'00,'000,'0000,0,1,492414,51.00,*
45964,'68,'000,'00,'000,'0000,0,2,463133,47.96,
45965,'68,'000,'00,'000,'0000,0,3,9943,1.02,

## elpaty.csv

- 政黨編號
- 政黨名稱

In [21]:
dataFilename = "elpaty.csv"

dataPath = os.path.join(dataPath0, dataPath1, dataPath2, dataFilename)
print(dataPath)
df_parties = pd.read_csv(dataPath, names=["party_name"],
                            index_col=0)
df_parties

data/2014-103年地方公職人員選舉/直轄市市長/elpaty.csv

        party_name
1            中國國民黨
15             勞動黨
16           民主進步黨
74              新黨
79              綠黨
90             親民黨
95          台灣團結聯盟
106         無黨團結聯盟
113        中華統一促進黨
153          人民最大黨
166          台灣主義黨
169          大道人民黨
179            華聲黨
190          台灣民族黨
196     教科文預算保障e聯盟
199         人民民主陣線
202          臺灣建國黨
209            聯合黨
210    三等國民公義人權自救黨
234        台灣第一民族黨
254  中華民主向日葵憲政改革聯盟
257      天宙和平統一家庭黨
259             樹黨
999     無黨籍及未經政黨推薦

## elprof.csv

- 省/直轄市編號：例如 `63` 是台北市， `10`是「台灣省」
- 縣編號：例如 `017`是基隆市。如果是直轄市則此欄為 `0`。
- 區編號：僅適用於直轄市
- 鄉鎮市區編號：無論是省轄縣市與否都會有一個編號
- 村里編號
- 投開票所編號
- 有效票數
- 無效票數
- 投票數
- 選舉人數
- 人口數：只有在里等級以上的資料才有
- 候選人數
- 當選人數
- 男候選人數
- 女候選人數
- 男當選人數
- 女當選人數
- 選舉人數對人口數
- 投票數對選舉人數（投票率）
- 當選人數對候選人數

In [23]:
dataFilename = "elprof.csv"

dataPath = os.path.join(dataPath0, dataPath1, dataPath2, dataFilename)
print(dataPath)
df_stats = pd.read_csv(dataPath, names=["province", "county", "district", "city", "li", "site_no", 
                                        "valid_counts", "invalid_counts", "total_counts", "voters", 
                                        "population", "candidate_counts", "elected_counts", 
                                        "male_candidates", "female_candidates", 
                                        "male_elected", "female_elected", "voters_vs_population", 
                                        "vote_turnout", "elected_vs_candidates"],
                            index_col=False)
df_stats

data/2014-103年地方公職人員選舉/直轄市市長/elprof.csv

,province,county,district,city,li,site_no,valid_counts,invalid_counts,total_counts,voters,population,candidate_counts,elected_counts,male_candidates,female_candidates,male_elected,female_elected,voters_vs_population,vote_turnout,elected_vs_candidates
0,'63,'000,'01,'120,'0001,1,895,17,912,1294,0,7,1,7,0,1,0,0.00,70.48,14.29
1,'63,'000,'01,'120,'0001,2,928,9,937,1240,0,7,1,7,0,1,0,0.00,75.56,14.29
2,'63,'000,'01,'120,'0001,3,777,6,783,1094,0,7,1,7,0,1,0,0.00,71.57,14.29
3,'63,'000,'01,'120,'0002,4,835,9,844,1144,0,7,1,7,0,1,0,0.00,73.78,14.29
4,'63,'000,'01,'120,'0002,5,955,10,965,1316,0,7,1,7,0,1,0,0.00,73.33,14.29
5,'63,'000,'01,'120,'0002,6,845,13,858,1153,0,7,1,7,0,1,0,0.00,74.41,14.29
6,'63,'000,'01,'120,'0003,7,1173,15,1188,1610,0,7,1,7,0,1,0,0.00,73.79,14.29
7,'63,'000,'01,'120,'0003,8,1096,8,1104,1507,0,7,1,7,0,1,0,0.00,73.26,14.29
8,'63,'000,'01,'120,'0003,9,1072,18,1090,1506,0,7,1,7,0,1,0,0.00,72.38,14.29
9,'63,'000,'01,'120,'0004,10,975,10,985,1384,0,7,1,7,0,1,0,0.00,71.17,14.29
10,'63,'000,'01,'120,'0004,11,999,19,1018,1424,0,7,1,7,0,1,0,0.00,71.49,14.29
11,'63,'000,'01,'120,'0004,12,1022,19,1041,1392,0,7,1,7,0,1,0,0.00,74.78,14.29
12,'63,'000,'01,'120,'0004,13,1157,14,1171,1590,0,7,1,7,0,1,0,0.00,73.65,14.29
13,'63,'000,'01,'120,'0005,14,1024,14,1038,1475,0,7,1,7,0,1,0,0.00,70.37,14.29
14,'63,'000,'01,'120,'0005,15,1083,13,1096,1515,0,7,1,7,0,1,0,0.00,72.34,14.29
15,'63,'000,'01,'120,'0005,16,1139,7,1146,1553,0,7,1,7,0,1,0,0.00,73.79,14.29
16,'63,'000,'01,'120,'0005,17,1055,15,1070,1451,0,7,1,7,0,1,0,0.00,73.74,14.29
17,'63,'000,'01,'120,'0006,18,1158,16,1174,1700,0,7,1,7,0,1,0,0.00,69.06,14.29
18,'63,'000,'01,'120,'0006,19,1108,15,1123,1599,0,7,1,7,0,1,0,0.00,70.23,14.29
19,'63,'000,'01,'120,'0006,20,1222,12,1234,1635,0,7,1,7,0,1,0,0.00,75.47,14.29
20,'63,'000,'01,'120,'0006,21,1065,8,1073,1471,0,7,1,7,0,1,0,0.00,72.94,14.29
21,'63,'000,'01,'120,'0007,22,1193,17,1210,1689,0,7,1,7,0,1,0,0.00,71.64,14.29
22,'63,'000,'01,'120,'0007,23,1031,15,1046,1486,0,7,1,7,0,1,0,0.00,70.39,14.29
23,'63,'000,'01,'120,'0007,24,1160,8,1168,1635,0,7,1,7,0,1,0,0.00,71.44,14.29
24,'63,'000,'01,'120,'0007,25,1171,17,1188,1646,0,7,1,7,0,1,0,0.00,72.17,14.29
25,'63,'000,'01,'120,'0008,26,1076,13,1089,1540,0,7,1,7,0,1,0,0.00,70.71,14.29
26,'63,'000,'01,'120,'0008,27,1104,18,1122,1576,0,7,1,7,0,1,0,0.00,71.19,14.29
27,'63,'000,'01,'120,'0008,28,1137,14,1151,1649,0,7,1,7,0,1,0,0.00,69.80,14.29
28,'63,'000,'01,'120,'0008,29,1230,8,1238,1734,0,7,1,7,0,1,0,0.00,71.40,14.29
29,'63,'000,'01,'120,'0009,30,1159,24,1183,1620,0,7,1,7,0,1,0,0.00,73.02,14.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14053,'67,'000,'01,'280,'0000,0,36756,761,37517,53444,67451,2,1,1,1,1,0,79.23,70.20,50.00
14054,'67,'000,'01,'290,'0000,0,21608,428,22036,28859,34872,2,1,1,1,1,0,82.76,76.36,50.00
14055,'67,'000,'01,'300,'0000,0,3091,77,3168,3813,4299,2,1,1,1,1,0,88.70,83.08,50.00
14056,'67,'000,'01,'310,'0000,0,109733,1910,111643,178619,228379,2,1,1,1,1,0,78.21,62.50,50.00
14057,'67,'000,'01,'320,'0000,0,86877,1822,88699,146511,190316,2,1,1,1,1,0,76.98,60.54,50.00
14058,'67,'000,'01,'330,'0000,0,66564,1315,67879,104487,125622,2,1,1,1,1,0,83.18,64.96,50.00
14059,'67,'000,'01,'340,'0000,0,64056,1281,65337,105800,132472,2,1,1,1,1,0,79.87,61.76,50.00
14060,'67,'000,'01,'350,'0000,0,98257,1902,100159,146915,187313,2,1,1,1,1,0,78.43,68.17,50.00
14061,'67,'000,'01,'360,'0000,0,25592,461,26053,49925,64793,2,1,1,1,1,0,77.05,52.18,50.00
14062,'67,'000,'01,'370,'0000,0,37041,748,37789,63312,77939,2,1,1,1,1,0,81.23,59.69,50.00
14063,'68,'000,'01,'010,'0000,0,181690,3350,185040,313670,416655,3,1,3,0,1,0,75.28,58.99,33.33
14064,'68,'000,'01,'020,'0000,0,182035,3515,185550,292742,380885,3,1,3,0,1,0,76.86,63.38,33.33
14065,'68,'000,'01,'030,'0000,0,44975,904,45879,71122,91874,3,1,3,0,1,0,77.41,64.51,33.33
14066,'68,'000,'01,'040,'0000,0,73203,1350,74553,118823,156960,3,1,3,0,1,0,75.70,62.74,33.33
14067,'68,'000,'01,'050,'0000,0,65804,1042,66846,110212,151108,3,1,3,0,1,0,72.94,60.65,33.33
14068,'68,'000,'01,'060,'0000,0,42265,799,43064,64354,84277,3,1,3,0,1,0,76.36,66.92,33.33
14069,'68,'000,'01,'070,'0000,0,63641,1204,64845,109434,141676,3,1,3,0,1,0,77.24,59.25,33.33
14070,'68,'000,'01,'080,'0000,0,88024,1948,89972,141109,181078,3,1,3,0,1,0,77.93,63.76,33.33
14071,'68,'000,'01,'090,'0000,0,54962,1243,56205,89895,116137,3,1,3,0,1,0,77.40,62.52,33.33
14072,'68,'000,'01,'100,'0000,0,101323,1881,103204,162143,212144,3,1,3,0,1,0,76.43,63.65,33.33
14073,'68,'000,'01,'110,'0000,0,27611,493,28104,38224,48044,3,1,3,0,1,0,79.56,73.52,33.33
14074,'68,'000,'01,'120,'0000,0,33702,700,34402,48584,63516,3,1,3,0,1,0,76.49,70.81,33.33
14075,'68,'000,'01,'130,'0000,0,6255,180,6435,8401,10905,3,1,3,0,1,0,77.04,76.60,33.33
14076,'63,'000,'00,'000,'0000,0,1494046,18678,1512724,2146939,2697644,7,1,7,0,1,0,79.59,70.46,14.29
14077,'64,'000,'00,'000,'0000,0,1458872,23553,1482425,2231225,2777773,3,1,2,1,0,1,80.32,66.44,33.33
14078,'65,'000,'00,'000,'0000,0,1916283,29780,1946063,3156402,3962920,3,1,3,0,1,0,79.65,61.65,33.33
14079,'66,'000,'00,'000,'0000,0,1484815,21208,1506023,2093689,2714642,2,1,2,0,1,0,77.13,71.93,50.00
14080,'67,'000,'00,'000,'0000,0,976093,20595,996688,1512778,1883562,2,1,1,1,1,0,80.31,65.88,50.00
14081,'68,'000,'00,'000,'0000,0,965490,18609,984099,1568713,2055259,3,1,3,0,1,0,76.33,62.73,33.33
14082,'00,'000,'00,'000,'0000,0,8295599,132423,8428022,12709746,16091800,20,6,18,2,5,1,78.98,66.31,30.00